<form action= "/treehouses" class="form-inline">
  <input type="text" name="treehouses[location]" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Bordeaux">
  <input type="date" name="treehouses[checkin]" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="CheckIn">
  <input type="date" name="treehouses[checkout]" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="CheckOut">
  <select name="treehouses[guests_number]" class="custom-select mb-2 mr-sm-2 mb-sm-0" style="color: black">
    <option selected>Guests</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
