<form class="form-inline">
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputLocation" placeholder="Bordeaux">
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputCheckIn" placeholder="CheckIn">
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputCheckOut" placeholder="CheckOut">
  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelectCapacity" style="color: black">
    <option selected>Guests</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
