<div class="banner image-banner">
  <div class="banner-content">
    <h1>TreeHouse</h1>
    <p>Find the best trehouse for a cheap prices</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
