<div class="banner image-banner">
  <div class="banner-content">
    <h1>TreeHouse</h1>
    <p><span id="banner-typed-text"></span></p>
    <!-- <p>Find a place to chill</p> -->
    <%= render "shared/form" %>
  </div>
</div>

