<div class="banner image-banner">
  <div class="banner-content">
    <h1>TreeHouse</h1>
    <p>Find the best treehouse for a very low price</p>
    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
    <%= render "shared/form" %>
  </div>
</div>
