.cabin-card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.cabin-card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.cabin-card-location {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.cabin-card-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.cabin-card-title h2 {
  font-size: 24px;
}
.cabin-card-title p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.cabin-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.cabin-card-link:hover {
  opacity: 0.1;
}
