.filters {
  background: #53443F;
  display: flex;
  padding: 10px 10px 0 10px;
  justify-content: flex-start;
}
.filters h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  color: white;
}
.filters p {
  font-size: 15px;
  opacity: 0.7;
  margin-bottom: 0;
  color: white;
}
.filter {
  background: #756A66;
  flex: 0 0 12%;
  text-align: center;
  padding: 20px 0;
}
.filter-change {
  background: white;
  flex: 0 0 8%;
  text-align: center;
  padding: 20px 0;
  opacity: 0.8;
}
.filter-change > h3{
  color: #83d0f2;
}

a:hover{
  text-decoration: none;
}

