.inbox {
  display: inline-block;
  justify-content: space-between;
  padding-left: 0px;
  list-style: none;
  font-size: 14px;
  margin: 20px;
  width: 100%;
}

.invisible {
  display: none;
}

.message {
  /* Your turn to design a flexbox message */
  display: flex;
  align-items: center;
  padding: 20px;
  // border: 1px solid rgb(220,224,244);
  justify-content: space-between;
}

.message_name {
  padding-left: 10px;
  min-width: 100px;
}

.message_name h2 {
  font-size: 13px;
}

.dates {
  flex-grow: 1;
  padding-left: 10px;
  margin: 40px;
}

h4{
  font-size: 15px;
}

.guests {
  padding-left: 20px;
  margin: 30px;
}

.message_body {
  justify-content: center;
  padding-left: 20px;
  min-width: 150px;
}
.message_body p {
  color: rgba(0,0,0,0.4);
}

.message_status {
  padding-left: 20px;
  min-width: 100px;
  margin: 20px;
}

.text_greylight {
  color: rgba(0,0,0,0.4);
}

.text_green {
  color: green;
}

.text_red {
  color: red;
}

.price {
  color: black;
}
