.results-wrapper {
  background-color: #faf9f8;
}

.main-results-container {
  display: flex;
}

.results-container {
  flex: 1 1 auto;
  padding: 10px;
}

.results-container h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.results-container p {
  font-family: "Open Sans", sans-serif;
  color: rgba(160, 160, 160, 0.8);
  letter-spacing: 5px;
  text-shadow: 1px 2px rgba(255, 255, 255, 1);
  padding: 10px 20px 0 20px;
}

#map {
  flex: 0 0 450px;
  height: 80vh;
  position: sticky !important;
  top: 0 !important;
}

.results-filter {
  padding: 20px;
}

.label-form-name {
  font-weight: bold;
  color: rgba(10, 10, 10, 0.9);
  margin: 10px 5px;
  padding: 5px 0px 5px 10px;
  font-size: 16px;
}

.label-form-input {
  background-color: white !important;
  font-size: 16px;
  color: rgba(80, 80, 80, 0.9) !important;
  font-family: "Open Sans", sans-serif !important;
}

.date-input {
  background-color: white !important;
}

.large {
  width: 200px !important;
}

.medium {
  width: 150px !important;
}

.small {
  width: 100px !important;
  margin-right: 20px !important;
}

.refresh-btn {
  font-size: 15px;
}

#guest  {
  color: black !important;
}

#guest.unselected  {
  color: rgba(120, 120, 120, 0.8) !important;
}

.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 15px rgba(255, 255, 255, 1);
}
