<div class="container">

      <h1>Your messages</h1>

      <!-- Code your tabs here -->

      <div class="tabs">
        <a href="#" class="tab active">Traveling</a>
        <a href="#" class="tab">Hosting</a>
      </div>

      <ul class="inbox">
        <li class="message">
          <!-- Code your message here -->
          <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar_sm">
          <div class="message_name">
            <h2>Gab Dehan</h2>
            <p>17/12/17</p>
          </div>
          <div class="message_body">
            <h4><strong>I am not sure yet!</strong></h4>
            <p>I am not sure yet! I might be in Shanghai at this moment... Can I tell you later?</p>
          </div>
          <div class="message_status text_greylight">
            <h2 class="status text_greylight">Pending</h2>
            <h2 class="price">€345</h2>
          </div>
        </li>
        <li class="message">
          <!-- Code your message here -->
          <img src="https://kitt.lewagon.com/placeholder/users/bpaillard" class="avatar_sm">
          <div class="message_name">
            <h2>Cecile Veneziani</h2>
            <p>23/09/17</p>
          </div>
          <div class="message_body">
            <h4><strong>I’ll be glad to welcome you in my cosy flat</strong></h4>
            <p>I’ll be glad to welcome you in my cosy flat in Lille. When are you arriving exactly?</p>
          </div>
          <div class="message_status text_green">
            <h2 class="status">Accepted</h2>
            <h2 class="price">€345</h2>
          </div>
        </li>
        <li class="message">
          <!-- Code your message here -->
          <img src="https://kitt.lewagon.com/placeholder/users/rpaillard" class="avatar_sm">
          <div class="message_name">
            <h2>Jad Joubran</h2>
            <p>19/08/17</p>
          </div>
          <div class="message_body">
            <h4><strong>Hey man! I'm sorry...</strong></h4>
            <p>Hey man! I'm sorry... I'll be in Amsterdam at these dates.</p>
          </div>
          <div class="message_status text_red">
            <h2 class="status">Declined</h2>
            <h2 class="price">€560</h2>
          </div>
        </li>
      </ul>

    </div>
